/*Colors-------------------------------
-------------------------------------*/

$color-dark: #282a2d;
$color-medium: #153659;
$color-light: #d3d0cd;
$color-neutral: #968d81;
$color-warm: #ea6922;
$color-hot: #e84950;
$color-white: #ffffff;

/*Font Files---------------------------
-------------------------------------*/


@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler/butler_medium_stencil-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Butler/butler_medium_stencil-webfont.woff') format('woff'); /* Pretty Modern Browsers */
       }

@font-face {
 font-family: 'CircularBold';
 src: url('../fonts/Circular/lineto-circular-bold.eot'), /* IE9 Compat Modes */
      url('../fonts/Circular/lineto-circular-bold.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/Circular/lineto-circular-bold.woff') format('woff'); /* Pretty Modern Browsers */
      }

@font-face {
  font-family: 'GTAmericaBold';
  src: url('../fonts/GTAmerica/GTAmerica-Bold.eot'), /* IE9 Compat Modes */
       url('../fonts/GTAmerica/GTAmerica-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GTAmerica/GTAmerica-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GTAmerica/GTAmerica-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GTAmerica/GTAmerica-Bold.svg') format('svg'); /* Legacy iOS */
       }

@font-face {
  font-family: 'GTAmericaMedium';
  src: url('../fonts/GTAmerica/GTAmerica-Medium.eot'), /* IE9 Compat Modes */
       url('../fonts/GTAmerica/GTAmerica-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GTAmerica/GTAmerica-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GTAmerica/GTAmerica-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GTAmerica/GTAmerica-Medium.svg') format('svg'); /* Legacy iOS */
       }

 /*Typography---------------------------
 -------------------------------------*/

 $font-primary : 'Butler', serif;
 $font-secondary : 'CircularBold', sans-serif;
 $font-copy : 'GTAmericaMedium', sans-serif;

@mixin h1-large {
  font-weight: normal;
  font-style: normal;
  font-family: $font-primary;
  font-size: 92px;
  line-height: 80px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  }

@mixin h1 {
  font-weight: normal;
  font-style: normal;
  font-family: $font-primary;
  font-size: 40px;
  line-height: 40px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  }

@mixin h2 {
  font-weight: normal;
  font-style: normal;
  font-family: $font-primary;
  font-size: 30px;
  line-height: 30px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  }

@mixin p {
  font-weight: normal;
  font-style: normal;
  font-family: $font-copy;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0px;
  margin: 0;
  }

@mixin small {
  font-weight: normal;
  font-style: normal;
  font-family: $font-secondary;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  }

@mixin nav-link {
  font-weight: normal;
  font-style: normal;
  font-family: $font-secondary;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.25px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  }

 /*Shapes-------------------------------
 -------------------------------------*/

$border-radius: 4px;

 /*Shadows------------------------------
 -------------------------------------*/

@mixin box-shadow {
   -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.25);
   -moz-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.25);
   box-shadow: 3px 3px 5px 0 rgba(0,0,0,.25);
   }

 /*Buttons------------------------------
 -------------------------------------*/

@mixin button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid $color-light;
    border-radius: 0px;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    color: $color-light;
    font-weight: normal;
    font-style: normal;
    font-family: $font-secondary;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 7px 14px;
    }

@mixin button-std {
    @include button;
    padding: 6px 12px;
    }

@mixin button-small {
    @include button;
    padding: 2px 8px;
    }

/*Flexbox------------------------------
-------------------------------------*/
@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    }

@mixin flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }

@mixin flex-direction-column {
    -ms-flex-direction: column;
    flex-direction: column;
    }

@mixin flex-justify-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack:justify;
    justify-content: space-between;
    }

@mixin flex-justify-flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    }

@mixin flex-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    }

@mixin flex-justify-flex-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    }

 @mixin flex-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }

@mixin flex-align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
   }

@mixin flex-align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
   }

@mixin transition {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    }
