<div class="footer">
  <div class="footer-left">
      <dl>
        <dt>Connect</dt>
        <dd>{{> atoms-link-footer }}</dd>
        <dd>{{> atoms-link-footer }}</dd>
        <dd>{{> atoms-link-footer }}</dd>
        <dd>{{> atoms-link-footer }}</dd>
        <dd>{{> atoms-link-footer }}</dd>
        <dd>{{> atoms-link-footer }}</dd>
        <dd>{{> atoms-link-footer }}</dd>
        <dd>{{> atoms-link-footer }}</dd>
      </dl>
  </div>
  <div class="footer-right">
    <dl>
      <dt>Email</dt>
      <dd>{{> atoms-link-footer }}</dd>
    </dl>
  </div>
</div>
