<div class="footer">
      <ul>
        <li>{{> atoms-link-footer }}</li>
        <li>{{> atoms-link-footer }}</li>
        <li>{{> atoms-link-footer }}</li>
        <li>{{> atoms-link-footer }}</li>
      </ul>
</div>
