<div class="footer">
  <div class="footer-inside">
    <div class="footer-third">
      {{> atoms-logo }}
      {{> atoms-footer-nav-link }}
      {{> atoms-footer-nav-link }}
    </div>
    <div class="footer-third">
      {{> atoms-small-caps }}
      {{> atoms-paragraph }}
    </div>
    <div class="footer-third">
    </div>
    {{> atoms-footer-nav-link }}
    {{> atoms-footer-nav-link }}
    {{> atoms-footer-nav-link }}
  </div>
</div>
