<div class="footer">
  <div class="footer-inside">
    <div class="footer-logo">
    {{> atoms-logo }}
    </div>
    <div class="footer-thirds">
      <div class="footer-third first">
        {{> atoms-footer-nav-link }}
        {{> atoms-footer-nav-link }}
      </div>
      <div class="footer-third second">
        {{> atoms-small-caps }}
        {{> atoms-paragraph-footer }}
      </div>
      <div class="footer-third third">
        <div class="columns">
          <div class="column-first">
            {{> atoms-footer-nav-link }}
            {{> atoms-footer-nav-link }}
            {{> atoms-footer-nav-link }}
          </div>
          <div class="column-second">
            {{> atoms-footer-nav-link }}
            {{> atoms-footer-nav-link }}
            {{> atoms-footer-nav-link }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
