/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */

body {
  background-color: #fff;
  color: #282a2d;
  }

#sg-patterns {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    max-width: 100%;
    }

.demo-animate {
    background: #ddd;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    }

.sg-colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
    }

.sg-colors li {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    min-width: 5em;
    max-width: 14em;
    border-radius: 8px;
    }

.sg-swatch {
    display: block;
    height: 4em;
    margin-bottom: 0.3em;
    border-radius: 5px;
    }

.sg-label {
    font-size: 90%;
    line-height: 1;
    }

#atoms-logo > div.sg-pattern-example {
    background-color: #282a2d;
    padding: 14px;
    }

#atoms-logo > div.sg-pattern-example img {
    max-width: 14px;
    }

#atoms-link-credits > div.sg-pattern-example,
#atoms-link-cycle > div.sg-pattern-example,
#atoms-link-footer > div.sg-pattern-example,
#atoms-link-header > div.sg-pattern-example,
#atoms-link-image > div.sg-pattern-example,
#atoms-link-inline > div.sg-pattern-example,
#atoms-link-support > div.sg-pattern-example {
    background-color: #282a2d;
    padding: 14px;
    }





#molecules-primary-nav > div.sg-pattern-example .primary-nav-inside {
    padding: 30px 20px;
    }

#molecules-footer > div.sg-pattern-example .footer-inside {
    padding: 40px 30px;
    background-color: #282a2d;
    }

#molecules-footer > div.sg-pattern-example .small,
#molecules-footer > div.sg-pattern-example p {
    color: #d3d0cd;
    }
