/*Imports------------------------------
-------------------------------------*/
/*Colors-------------------------------
-------------------------------------*/
/*Font Files---------------------------
-------------------------------------*/
@font-face {
  font-family: 'GTAmericaBold';
  src: url("../fonts/GTAmerica/GTAmerica-Bold.eot"), url("../fonts/GTAmerica/GTAmerica-Bold.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-Bold.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-Bold.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-Bold.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GTAmerica-CompressedBold';
  src: url("../fonts/GTAmerica/GTAmerica-CompressedBold.eot"), url("../fonts/GTAmerica/GTAmerica-CompressedBold.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-CompressedBold.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-CompressedBold.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-CompressedBold.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GTAmerica-CondensedBold';
  src: url("../fonts/GTAmerica/GTAmerica-CondensedBold.eot"), url("../fonts/GTAmerica/GTAmerica-CondensedBold.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-CondensedBold.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-CondensedBold.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-CondensedBold.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GTAmerica-Medium';
  src: url("../fonts/GTAmerica/GTAmerica-Medium.eot"), url("../fonts/GTAmerica/GTAmerica-Medium.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-Medium.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-Medium.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-Medium.svg") format("svg");
  /* Legacy iOS */ }

/*Typography---------------------------
 -------------------------------------*/
/*Shapes-------------------------------
 -------------------------------------*/
/*Shadows------------------------------
 -------------------------------------*/
/*Buttons------------------------------
 -------------------------------------*/
/*Flexbox------------------------------
-------------------------------------*/
/*Image Aspect Ratios------------------
-------------------------------------*/
body {
  font-family: "GTAmerica-Medium", serif;
  color: #262d3f;
  font-weight: 400; }

a,
button {
  outline: 0;
  text-decoration: none;
  color: #262d3f;
  font-weight: 400; }

a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */ }

img {
  width: 100%;
  height: auto; }

h1.large {
  font-family: "GTAmerica-Medium", serif;
  font-size: 32px;
  color: #ea6922; }

h1 {
  font-family: "GTAmerica-Medium", serif;
  font-size: 18px;
  color: #e84950; }

h2 {
  font-family: "GTAmerica-Medium", serif;
  font-size: 16px;
  color: #e84950; }

button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #262d3f;
  border-radius: 0px;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  font-size: 13px;
  padding: 8px 15px; }

p {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1px;
  margin: 0; }

.small-caps,
.footer-link {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 8px; }

/*Primary Nav--------------------------
-------------------------------------*/
.primary-nav-inside {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #262d3f;
  color: #ffffff;
  padding: 15px; }

.primary-nav-inside .logo {
  max-width: 20px; }

.primary-nav-inside a {
  color: #ffffff; }

/*Footer-------------------------------
-------------------------------------*/
.footer {
  background-color: #262d3f;
  color: #ffffff; }

.footer-inside {
  padding: 30px 20px; }

.footer-link a {
  color: #ffffff; }

.footer-inside img {
  display: block;
  max-width: 20px; }

.footer .columns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.footer .column-second {
  padding: 0 0 0 10px; }

@media screen and (max-width: 300px) {
  .footer-logo,
  .footer-third {
    padding: 0 0 30px 0; } }

@media screen and (max-width: 700px) and (min-width: 300px) {
  .footer-inside {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .footer-logo {
    width: 10%; }
  .footer-thirds {
    width: 90%;
    padding: 0 0 0 20px; }
  .footer-third {
    padding: 0 0 30px 0; } }

@media screen and (min-width: 701px) {
  .footer-logo {
    padding: 0 0 30px 0; }
  .footer-thirds {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .footer-third.first {
    width: 20%; }
  .footer-third.second {
    width: 50%;
    padding: 0 30px 0 0; }
  .footer-third.third {
    width: 30%; }
  .footer .columns {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }
