/*Imports------------------------------
-------------------------------------*/
/*Colors-------------------------------
-------------------------------------*/
/*Font Files---------------------------
-------------------------------------*/
@font-face {
  font-family: 'GTAmericaBold';
  src: url("../fonts/GTAmerica/GTAmerica-Bold.eot"), url("../fonts/GTAmerica/GTAmerica-Bold.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-Bold.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-Bold.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-Bold.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GTAmerica-CompressedBold';
  src: url("../fonts/GTAmerica/GTAmerica-CompressedBold.eot"), url("../fonts/GTAmerica/GTAmerica-CompressedBold.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-CompressedBold.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-CompressedBold.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-CompressedBold.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GTAmerica-CondensedBold';
  src: url("../fonts/GTAmerica/GTAmerica-CondensedBold.eot"), url("../fonts/GTAmerica/GTAmerica-CondensedBold.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-CondensedBold.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-CondensedBold.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-CondensedBold.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GTAmerica-Medium';
  src: url("../fonts/GTAmerica/GTAmerica-Medium.eot"), url("../fonts/GTAmerica/GTAmerica-Medium.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-Medium.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-Medium.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-Medium.svg") format("svg");
  /* Legacy iOS */ }

/*Typography---------------------------
 -------------------------------------*/
/*Shapes-------------------------------
 -------------------------------------*/
/*Shadows------------------------------
 -------------------------------------*/
/*Buttons------------------------------
 -------------------------------------*/
/*Flexbox------------------------------
-------------------------------------*/
h1 {
  font-family: "GTAmericaBold", serif;
  font-size: 32px;
  color: #e84950; }

button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #262d3f;
  border-radius: 0px;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  font-size: 13px;
  padding: 8px 15px; }

p {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  line-height: 27px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1px;
  margin: 0; }

.card {
  background-color: blue;
  position: relative;
  width: 100%;
  padding-top: 90%;
  /* 16:9 Aspect Ratio */ }

.card-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: #333333; }

.card-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #ececec; }

/*Primary Nav--------------------------
-------------------------------------*/
.primary-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #262d3f;
  color: #ffffff;
  padding: 15px; }
