<a href="#" class="link-cycle"><img src="/assets/images/arrowleft.svg"><span class="prev">Prev</span></a>

<a href="#" class="link-cycle"><span class="next">Next</span><img src="/assets/images/arrowright.svg"></a>