<div class="overlap1-top">
    <div class="overlap1-left"></div>
    <div class="overlap1-right"></div>
</div>

<div class="overlap1-bottom">
    <div class="overlap1-left"></div>
    <div class="overlap1-right"></div>
</div>
