/*Imports------------------------------
-------------------------------------*/
/*Colors-------------------------------
-------------------------------------*/
/*Font Files---------------------------
-------------------------------------*/
@font-face {
  font-family: 'Butler';
  src: url("../fonts/Butler/butler_medium_stencil-webfont.woff2") format("woff2"), url("../fonts/Butler/butler_medium_stencil-webfont.woff") format("woff");
  /* Pretty Modern Browsers */ }

@font-face {
  font-family: 'CircularBold';
  src: url("../fonts/Circular/lineto-circular-bold.eot"), url("../fonts/Circular/lineto-circular-bold.woff2") format("woff2"), url("../fonts/Circular/lineto-circular-bold.woff") format("woff");
  /* Pretty Modern Browsers */ }

@font-face {
  font-family: 'GTAmericaBold';
  src: url("../fonts/GTAmerica/GTAmerica-Bold.eot"), url("../fonts/GTAmerica/GTAmerica-Bold.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-Bold.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-Bold.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-Bold.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GTAmericaMedium';
  src: url("../fonts/GTAmerica/GTAmerica-Medium.eot"), url("../fonts/GTAmerica/GTAmerica-Medium.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-Medium.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-Medium.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-Medium.svg") format("svg");
  /* Legacy iOS */ }

/*Typography---------------------------
 -------------------------------------*/
/*Shapes-------------------------------
 -------------------------------------*/
/*Shadows------------------------------
 -------------------------------------*/
/*Buttons------------------------------
 -------------------------------------*/
/*Flexbox------------------------------
-------------------------------------*/
body {
  font-family: "GTAmericaMedium", sans-serif;
  color: #282a2d; }

a,
button {
  outline: 0;
  text-decoration: none;
  color: #282a2d; }

a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */ }

img {
  width: 100%;
  height: auto; }

h1.large {
  font-weight: normal;
  font-style: normal;
  font-family: "Butler", serif;
  font-size: 92px;
  line-height: 80px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #d3d0cd; }

h1 {
  font-weight: normal;
  font-style: normal;
  font-family: "Butler", serif;
  font-size: 40px;
  line-height: 40px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #d3d0cd; }

h2 {
  font-weight: normal;
  font-style: normal;
  font-family: "Butler", serif;
  font-size: 30px;
  line-height: 30px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #d3d0cd; }

button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #d3d0cd;
  border-radius: 0px;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  color: #d3d0cd;
  font-size: 13px;
  padding: 8px 15px; }

p {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmericaMedium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0px;
  margin: 0;
  color: #d3d0cd; }

.small,
.footer-link {
  font-weight: normal;
  font-style: normal;
  font-family: "CircularBold", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 10px; }

/*Primary Nav--------------------------
-------------------------------------*/
.primary-nav-inside {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #282a2d;
  color: #d3d0cd;
  padding: 0px 30px 0px 30px; }

.primary-nav-third {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.primary-nav-inside .logo img {
  max-width: 14px; }

.primary-nav-link {
  font-weight: normal;
  font-style: normal;
  font-family: "CircularBold", sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.25px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.primary-nav-inside a {
  color: #ffffff;
  display: block;
  padding: 15px 0 15px 0; }

/*Footer-------------------------------
-------------------------------------*/
.footer {
  background-color: #282a2d;
  color: #d3d0cd; }

.footer-inside {
  padding: 40px 30px 30px 30px; }

.footer-link a {
  color: #d3d0cd;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.footer-link a:hover {
  color: #ffffff; }

.footer-inside img {
  display: block;
  max-width: 14px; }

.footer .columns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.footer .column-second {
  padding: 0 0 0 20px; }

@media screen and (max-width: 300px) {
  .footer-logo,
  .footer-third {
    padding: 0 0 30px 0; } }

@media screen and (max-width: 700px) and (min-width: 300px) {
  .footer-inside {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .footer-logo {
    width: 10%; }
  .footer-thirds {
    width: 90%;
    padding: 0 0 0 20px; }
  .footer-third {
    padding: 0 0 30px 0; } }

@media screen and (min-width: 701px) {
  .footer-logo {
    padding: 0 0 30px 0; }
  .footer-thirds {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .footer-third.first {
    width: 20%; }
  .footer-third.second {
    width: 50%;
    padding: 0 30px 0 0; }
  .footer-third.third {
    width: 30%; }
  .footer .columns {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }
