
@import "abstracts/variables";

body {
    font-family: $font-copy;
    color: $color-light;
    background-color: $color-dark;
    }

::selection {
    background: $color-hot; /* WebKit/Blink Browsers */
    }

::-moz-selection {
    background: $color-hot; /* Gecko Browsers */
    }

a,
button {
    outline: 0;
    text-decoration: none;
    color: $color-light;
    }

a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */
    }

img {
    width: 100%;
    height: auto;
    }

h1 {
    @include h1;
    }

h2 {
    @include h2;
    }

button {
    @include button;
    }

p {
    @include p;
    }

.small,
.footer-link {
    @include small;
    padding-bottom: 10px;
    }

/*Primary Nav--------------------------
-------------------------------------*/

.primary-nav {
    background-color: $color-dark;
    }

.primary-nav-inside {
    @include flex;
    @include flex-justify-space-between;
    @include flex-align-center;
    height: 60px;
    }

.primary-nav-third {
    @include flex;
    @include flex-align-center;
    }

.primary-nav-inside .logo img {
    max-width: 16px;
    }

.primary-nav-third.first {
    width: calc(50% - 10px);
    @include flex;
    @include flex-justify-flex-start;
    @include flex-align-center;
    }

.primary-nav-third.second {
    width: 20px;
    @include flex;
    @include flex-justify-center;
    @include flex-align-center;
    }

.primary-nav-third.third {
    width: calc(50% - 10px);
    @include flex;
    @include flex-justify-flex-end;
    @include flex-align-center;
    }

.primary-nav-link {
    @include nav-link;
    }

.work-cycle .title {
    @include nav-link;
    }

.primary-nav-inside a {
    color: $color-white;
    display: block;
    }

/*Footer-------------------------------
-------------------------------------*/

.footer-link a {
    @include transition;
    }

.footer-link a:hover {
    color: $color-white;
    }

.footer-inside img {
    display: block;
    max-width: 14px;
    }

.footer .columns {
    @include flex;
    @include flex-align-start;
    }

.footer .column-second {
    padding: 0 0 0 20px;
    }

@media screen and (max-width: 300px) {
.footer-logo,
.footer-third {
    padding: 0 0 30px 0;
    }
    }

@media screen and (max-width: 700px) and (min-width: 300px) {
.footer-inside  {
    @include flex;
    @include flex-align-start;
    }
.footer-logo {
    width: 10%;
    }
.footer-thirds {
    width: 90%;
    padding: 0 0 0 20px;
    }
.footer-third {
    padding: 0 0 30px 0;
    }
    }

@media screen and (min-width: 701px) {
.footer-logo {
    padding: 0 0 30px 0;
    }
.footer-thirds {
    @include flex;
    @include flex-align-start;
    }
.footer-third.first {
    width: 20%;
    }
.footer-third.second {
    width: 50%;
    padding: 0 30px 0 0;
    }
.footer-third.third {
    width: 30%;
    }
.footer .columns {
    @include flex-justify-flex-end;
    }
    }
