/*Colors-------------------------------
-------------------------------------*/
/*Font Files---------------------------
-------------------------------------*/
@font-face {
  font-family: 'Butler';
  src: url("../fonts/Butler/butler_medium_stencil-webfont.woff2") format("woff2"), url("../fonts/Butler/butler_medium_stencil-webfont.woff") format("woff");
  /* Pretty Modern Browsers */ }

@font-face {
  font-family: 'CircularBold';
  src: url("../fonts/Circular/lineto-circular-bold.eot"), url("../fonts/Circular/lineto-circular-bold.woff2") format("woff2"), url("../fonts/Circular/lineto-circular-bold.woff") format("woff");
  /* Pretty Modern Browsers */ }

@font-face {
  font-family: 'GTAmericaBold';
  src: url("../fonts/GTAmerica/GTAmerica-Bold.eot"), url("../fonts/GTAmerica/GTAmerica-Bold.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-Bold.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-Bold.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-Bold.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GTAmericaMedium';
  src: url("../fonts/GTAmerica/GTAmerica-Medium.eot"), url("../fonts/GTAmerica/GTAmerica-Medium.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-Medium.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-Medium.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-Medium.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GTAmericaRegular';
  src: url("../fonts/GTAmerica/GTAmerica-Regular.eot"), url("../fonts/GTAmerica/GTAmerica-Regular.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-Regular.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-Regular.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-Regular.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GTAmericaThin';
  src: url("../fonts/GTAmerica/GTAmerica-Thin.eot"), url("../fonts/GTAmerica/GTAmerica-Thin.woff2") format("woff2"), url("../fonts/GTAmerica/GTAmerica-Thin.woff") format("woff"), url("../fonts/GTAmerica/GTAmerica-Thin.ttf") format("truetype"), url("../fonts/GTAmerica/GTAmerica-Thin.svg") format("svg");
  /* Legacy iOS */ }

/*Typography---------------------------
 -------------------------------------*/
/*Shapes-------------------------------
 -------------------------------------*/
/*Shadows------------------------------
 -------------------------------------*/
/*Buttons------------------------------
 -------------------------------------*/
/*Flexbox------------------------------
-------------------------------------*/
body {
  font-family: "GTAmericaRegular", sans-serif; }

::selection {
  background: #fcf113;
  color: #282a2d; }

::-moz-selection {
  background: #fcf113;
  color: #282a2d; }

a {
  outline: 0;
  text-decoration: none;
  color: #d3d0cd; }

a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */ }

img {
  width: 100%;
  height: auto; }

h1 {
  font-weight: normal;
  font-style: normal;
  font-family: "Butler", serif;
  font-size: 40px;
  line-height: 40px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 15px; }

h2 {
  font-weight: normal;
  font-style: normal;
  font-family: "Butler", serif;
  font-size: 30px;
  line-height: 30px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

p {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmericaRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0px;
  margin: 0; }

ul, menu, dir {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

li {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmericaRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0px;
  margin: 0; }

.block-support {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmericaRegular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0px;
  margin: 0;
  color: #9e9e9e; }

.small {
  font-weight: normal;
  font-style: normal;
  font-family: "CircularBold", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 10px; }

/*Primary Nav--------------------------
-------------------------------------*/
.primary-nav {
  background-color: #282a2d; }

.primary-nav-inside {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px; }

.primary-nav-third {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.primary-nav-inside .logo img {
  max-width: 18px; }

.primary-nav-third.first {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.primary-nav-third.second {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.primary-nav-link {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmericaRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.25px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.work-cycle .title {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmericaRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.25px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.primary-nav-third.second a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #ffffff;
  display: block;
  padding: 5px 0px 3px 0px;
  margin-left: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0); }

.primary-nav-third.second a:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #ffffff;
  display: block;
  padding: 5px 0px 3px 0px;
  margin-left: 15px;
  border-bottom: 1px solid white; }

/*Footer-------------------------------
-------------------------------------*/
.footer a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.footer a:hover {
  color: #ffffff; }
