/*Imports------------------------------
-------------------------------------*/

@import "abstracts/variables";

body {
    font-family: $font-primary;
    color: $color-dark;
    font-weight: $font-weight-standard;
    }

a,
button {
    outline: 0;
    text-decoration: none;
    color: $color-dark;
    font-weight: $font-weight-standard;
    }

a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */
    }

img {
    width: 100%;
    height: auto;
    }


h1.large {
    @include h1-large;
    color: $color-light;
    }

h1 {
    @include h1;
    color: $color-light;
    }

h2 {
    @include h2;
    color: $color-light;
    }

button {
    @include button;
    }

p {
    @include p;
    color: $color-light;
    }

.small-caps,
.footer-link {
    font-size: $font-size-utility-small;
    text-transform: uppercase;
    margin-bottom: 8px;
    }

/*Primary Nav--------------------------
-------------------------------------*/

.primary-nav-inside {
    @include flex;
    @include flex-justify-space-between;
    @include flex-align-center;
    background-color: $color-dark;
    color: $color-light;
    padding: 15px;
    }

.primary-nav-inside .logo {
    max-width: 20px;
    }

.primary-nav-inside a {
    color: $color-light;
    }

/*Footer-------------------------------
-------------------------------------*/

.footer {
    background-color: $color-dark;
    color: $color-light;
    }

.footer-inside {
    padding: 30px 20px;
    }

.footer-link a {
    color: $color-light;
    }

.footer-inside img {
    display: block;
    max-width: 20px;
    }

.footer .columns {
    @include flex;
    @include flex-align-start;
    }

.footer .column-second {
    padding: 0 0 0 10px;
    }

@media screen and (max-width: 300px) {
.footer-logo,
.footer-third {
    padding: 0 0 30px 0;
    }
    }

@media screen and (max-width: 700px) and (min-width: 300px) {
.footer-inside  {
    @include flex;
    @include flex-align-start;
    }
.footer-logo {
    width: 10%;
    }
.footer-thirds {
    width: 90%;
    padding: 0 0 0 20px;
    }
.footer-third {
    padding: 0 0 30px 0;
    }
    }

@media screen and (min-width: 701px) {
.footer-logo {
    padding: 0 0 30px 0;
    }
.footer-thirds {
    @include flex;
    @include flex-align-start;
    }
.footer-third.first {
    width: 20%;
    }
.footer-third.second {
    width: 50%;
    padding: 0 30px 0 0;
    }
.footer-third.third {
    width: 30%;
    }
.footer .columns {
    @include flex-justify-flex-end;
    }
    }
