
@import "abstracts/variables";

body {
    font-family: $font-copy;
    }

::selection {
    background: #fcf113; /* WebKit/Blink Browsers */
    color: $color-dark;
    }

::-moz-selection {
    background: #fcf113; /* Gecko Browsers */
    color: $color-dark;
    }

a,
button {
    outline: 0;
    text-decoration: none;
    color: $color-light;
    }

a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */
    }

img {
    width: 100%;
    height: auto;
    }

h1 {
    @include h1;
    }

h2 {
    @include h2;
    }

button {
    @include button;
    }

p {
    @include p;
    }

ul, menu, dir {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    }

li {
    @include p;
    }

.small,
.footer-link {
    @include small;
    padding-bottom: 10px;
    }

/*Primary Nav--------------------------
-------------------------------------*/

.primary-nav {
    background-color: $color-dark;
    }

.primary-nav-inside {
    @include flex;
    @include flex-justify-space-between;
    @include flex-align-center;
    height: 60px;
    }

.primary-nav-third {
    @include flex;
    @include flex-align-center;
    }

.primary-nav-inside .logo img {
    max-width: 13px;
    }

.primary-nav-third.first {
    @include flex;
    @include flex-justify-flex-start;
    @include flex-align-center;
    }

.primary-nav-third.second {
    @include flex;
    @include flex-justify-flex-end;
    @include flex-align-center;
    }

.primary-nav-link {
    @include nav-link;
    }

.work-cycle .title {
    @include nav-link;
    }

.primary-nav-inside a {
    @include transition;
    color: $color-white;
    display: block;
    padding: 5px 0px 3px 0px;
    margin-left: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    }

.primary-nav-inside a:hover {
    @include transition;
    color: $color-white;
    display: block;
    padding: 5px 0px 3px 0px;
    margin-left: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    }

/*Footer-------------------------------
-------------------------------------*/

.footer a {
    @include transition;
    }

.footer a:hover {
    color: $color-white;
    }
