<div class="primary-nav">
    <div class="primary-nav-half first">
        {{> atoms-logo }}
    </div>
    <div class="primary-nav-half second">
      {{> atoms-link-header }}
      {{> atoms-link-header }}
    </div>
</div>
