<div class="primary-nav">
  <div class="primary-nav-third">
    {{> atoms-primary-nav-link }}
  </div>
  <div class="primary-nav-third">
    {{> atoms-logo }}
  </div>
  <div class="primary-nav-third">
    {{> atoms-primary-nav-link }}
  </div>
</div>